<section class="info-container">
    <div class="info-hero">
        <info-hero [hero]=hero></info-hero>
    </div>
          <div class="info-skills">
            <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
              <ng-container *cdkVirtualFor="let skill of skills">
                <div class="skill-item">
                  <app-skill 
                  [skill]="skill"
                  [selectedSkill]="skillSelected == skill"
                  (skillSelected)="getSelectedSkill($event)"
                  (skillAccepted)="getAcceptedSkill($event)"
                  [isSkillDenied]="isSkillDenied"
                ></app-skill>
                </div>
              </ng-container>
            </cdk-virtual-scroll-viewport>
          </div>
    <div class="info-inventory">Inventario</div>
</section>