<section class="header-container">
    <a class="header-logo">
        <img class="logo" src="./assets/logo.png" alt="">
    </a>
    <ul class="header-items">
        <li class="item" routerLinkActive="active">
            <a [routerLink]="['info']">Información</a>
        </li>
        <li class="item" routerLinkActive="active">
            <a [routerLink]="['objetivos']">Objetivos</a>
        </li>
        <li class="item" routerLinkActive="active">
            <a [routerLink]="['mercado']">Mercado</a>
        </li>
        <div class="indicator"></div>
    </ul>
</section>